/*=============== SERVICES ===============*/
.services__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.5rem;
    text-align: center;
}

.service__icon {
    font-size: 3rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.service__title {
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.service__description {
    font-size: var(--small-font-size);
    color: #6b7280;
}


/*=============== TECHNOLOGY & SAFETY ===============*/
.tech__container {
    grid-template-columns: 1fr;
    gap: 3rem;
}

.tech__image-content {
    text-align: center;
}

.tech__img {
    border-radius: 1rem;
    max-width: 450px;
    width: 100%;
}

.tech__data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tech__item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.tech__icon {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-top: .25rem;
}

.tech__title {
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.tech__description {
    font-size: var(--small-font-size);
    color: #6b7280;
}
