/*=============== CONTACT ===============*/
.contact__form {
    display: grid;
    gap: 1.5rem;
}
.form__group--full {
    grid-column: 1 / -1;
}
textarea.form__input {
    height: 120px;
    resize: vertical;
}
