/*=============== LOAN CALCULATOR ===============*/
.loan__container {
    grid-template-columns: 1fr;
    gap: 3rem;
}

.loan__form {
    display: grid;
    gap: 1.5rem;
}

.form__group {
    position: relative;
}

.form__label {
    display: block;
    margin-bottom: .5rem;
    font-weight: var(--font-medium);
    color: var(--primary-color);
}

.form__input {
    width: 100%;
    padding: .8rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    transition: border-color .3s;
}

.form__input:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 2px hsla(33, 100%, 50%, 0.2);
}

.loan__results {
    background-color: var(--primary-color-alt);
    padding: 2rem;
    border-radius: 1rem;
    color: white;
}

.results__title {
    color: var(--title-color);
    text-align: center;
    margin-bottom: 2rem;
}

.results__box {
    display: grid;
    gap: 1rem;
}

.result__item {
    display: flex;
    justify-content: space-between;
    font-size: var(--normal-font-size);
}

.result__item span:first-child {
    color: var(--text-color-light);
}

.result__item strong {
    color: var(--secondary-color);
    font-size: var(--h2-font-size);
}
